.blog-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #D9D9D9;
}
.blog-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-primary-major);
}
.blog-icon {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.blog-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.blog-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.blog-links {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.blog-navlink {
  text-decoration: none;
}
.blog-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.blog-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.blog-text {
  align-self: center;
}
.blog-text1 {
  align-self: center;
}
.blog-image {
  width: 464px;
  height: 214px;
  align-self: center;
  object-fit: cover;
}
.blog-text2 {
  align-self: center;
}
.blog-image1 {
  width: 659px;
  height: 299px;
  align-self: center;
  object-fit: cover;
}
@media(max-width: 767px) {
  .blog-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .blog-desktop-menu {
    display: none;
  }
}
@media(max-width: 479px) {
  .blog-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
}
